.navbar-content {
    height: 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0 100px;
}

.footerlogo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: var(--color-tertiary);
    text-align: center;
}

.auth-buttons {
    display: flex;
    gap: 8px;
}

.logospan {
    color: var(--color-bg);
}

/* footer styles */

footer {
    padding: 40px 100px 80px;
    box-sizing: border-box;
    background-color: #1c1c1c;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    color: var(--color-grey);
    align-items: top;
    gap: 16px;
}

.footerlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 8px 0;
}

.logo h1 {
    font-family: Arial, Sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: var(--color-tertiary);
}

.links {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 16px;
}

.links a {
    color: var(--color-grey);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 8px;
}

.links a:hover {
    color: var(--color-text);
}

.footersection {
    display: flex;
    gap: 32px;
    margin: 0 auto;

}

.socials {
    display: flex;
    justify-content: space-between;
}

.footer-l p {
    color: var(--color-grey);
    display: none;
    text-align: center;
}

.caption p {
    color: var(--color-grey);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 32px;

}

.footerlogo {
    font-family: Arial, Sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: var(--color-tertiary);
}

.sociallinks {
    display: flex;
    gap: 40px;
    margin: 0 auto;
}

.icon {
    width: 18px;
    height: 18px;
    color: var(--color-grey);
}

@media (max-width:768px) {
    .navbar-content {
        padding: 0 16px !important;
        max-height: 56px;
        align-items: center;
    }

    .logo h1 {
        font-size: 18px;
        margin: auto 0;
    }

    .signupBtn {
        display: none;
        padding: 0 16px;
        height: 44px;
    }

    .loginBtn {
        padding: 0 !important;
        font-family: Arial, Sans-serif;
        font-weight: 500 !important;
        margin: 0;
    }

    .loginBtn {
        margin: 0 !important;
        padding: auto 8px;
    }

    footer {
        padding: 40px 16px;
    }

    .footer {
        display: block;
    }

    .footersection {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    .footerlinks {
        width: 100%;
    }

    .links {
        flex-direction: column;
        gap: 8px;
    }

    .links a {
        text-align: center;
    }

    .divider {
        border-bottom: 1px solid #333333;
        width: 80%;
        margin: 0 auto;
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    .caption p {
        margin-top: 16px;
    }
}