/* src/components/JobType.css */
.job-type-container {
  padding: 40px 100px;
  background-color: var(--color-tertiary);
  text-align: center;
  box-sizing: border-box;
  width: 100%;

}

.job-type-container h1 {
  font-size: 32px;
  font-family: Arial, sans-serif;
  color: var(--color-text) !important;
  margin-bottom: 30px;
  color: #222;
}

.job-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 24px;
}

/* src/components/Card.css */
.card {
  background-color: var(--color-text);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px 40px;
  text-align: center;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 32px 0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card-icon {
  color: var(--color-bg);
  font-size: 8px !important;
  margin-bottom: 16px;
}

.card-title {
  font-size: 18px;
  margin: 4px 0;
  color: var(--color-black);
  font-weight: 500;
  font-family: Arial, sans-serif;
}

.card-description {
  font-size: 14px;
  color: var(--color-grey);
  line-height: 1.5;
  font-weight: 400;
  font-family: Arial, sans-serif;
}
